<%= simple_form_for @registro, **@form_params, :html => {:multipart => true} do |f| %>
	<div class="row mt-4">
		<div class="col-12 col-lg-6 my-4">
			<h4> Datos del concursante</h4>
			<div class="usuario text-left mb-4">
				<%= f.input_field :nombre, class: 'form-control my-2', placeholder: 'Nombre(s)'%>
				<%= f.input_field :apellido_paterno, class: 'form-control my-2', placeholder: 'Apellido Paterno' %>
				<%= f.input_field :apellido_materno, class: 'form-control my-2', placeholder: 'Apellido Materno' %>
				<label class="my-2 font-weight-bolder date" for="usuario_mn_fecha_nacimiento_1i">Fecha de nacimiento (dd/mm/aaaa)</label>
				<%= f.date_field :fecha_nacimiento, min: UsuarioMn::FECHA_NAC_MIN, max: UsuarioMn::FECHA_NAC_MAX, class: 'form-control' %>
				<label class="my-2 font-weight-bolder" for="usuario_mn_lugar_nacimiento">Lugar de nacimiento</label>
				<%= f.select :lugar_nacimiento, options_for_select(Direccion::ESTADOS, nil), { prompt: "--- Seleccionar estado de nacimiento  ---" }, { class: 'form-control' } %>
				<label class="my-2 font-weight-bolder date" for="usuario_mn_medio">¿Por cuál medio te enteraste del concurso?</label>
				<%= f.select :medio, options_for_select(UsuarioMn::MEDIO, f.object.medio), { prompt: "--- Selecciona ---" }, { class: 'form-control' } %>
				<%= f.input_field :otro_medio, class: 'form-control my-2', placeholder: 'Otro medio (opcional)' %>
				<%= f.hidden_field :user_id, value: current_user_mn.id %>
			</div>
		
		</div>
		
		<div class="col-12 col-lg-6 my-4">
			<h4> Dirección </h4>
			<div class="direccion">
				<%= f.fields_for :direccion do |direccion_form| %>
					<%= render "mosaico_natura/registro/form_direccion", f: direccion_form %>
				<% end %>
			</div>
		</div>
		<div class="col-12 my-4">
			<h4> Fotografías </h4>
			<div class="medias">
				<%= f.simple_fields_for :media do |media_form| %>
					<%= render "mosaico_natura/registro/form_media", f: media_form %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'añade foto', f, :media, partial: "mosaico_natura/registro/form_media" %>
				</div>
			</div>
		</div>
		<div class="col-12 my-4">
			<h4> Fotografías ed otra catego</h4>
			<div class="medias">
				<%= f.simple_fields_for :media do |media_form| %>
					<%= render "mosaico_natura/registro/form_media", f: media_form %>
				<% end %>
				<div class="links">
					<%= link_to_add_association 'añade foto de otra catego', f, :media, partial: "mosaico_natura/registro/form_media" %>
				</div>
			</div>
		</div>
	</div>
	
	<%= f.button :submit, @registro.new_record? ? 'Guardar registro' : 'Actualizar registro', class: 'btn btn-success btn-sm mb-4' %>
<% end %>