<div class='nested-fields col-12'>
	<%= f.input_field :titulo, class: 'form-control my-2', placeholder: 'Título de la foto/video' %>
	<%= f.input_field :descripcion, class: 'form-control my-2', placeholder: 'Descripción de la foto/video' %>
	<label class="my-2 font-weight-bolder date" for="usuario_mn_medio">¿Cual es la marca de la cámara utilizada?</label>
	<%= f.select :marca, options_for_select(MediaMetadatoMn::MARCA, nil), { prompt: "--- Selecciona la marca de la camara  ---" }, { class: 'form-control' } %>
	<%= f.input_field :otra_marca, class: 'form-control my-2', placeholder: 'Otro marca (opcional)' %>
	<label class="my-2 font-weight-bolder" for="usuario_mn_lugar_nacimiento">¿Donde sacaste la foto/video?</label>
	<%= f.select :localidad, options_for_select(Direccion::ESTADOS, nil), { prompt: "--- Seleccionar localidad de la foto/video  ---" }, { class: 'form-control' } %>
</div>