<% categoria =  f.object.new_record? ? nombre_categoria : f.object.categoria.nombre_categoria %>
<div class='col-12 col-lg-6 mb-5 px-3 py-4 nested-fields  nested-fields-for-<%= categoria %> rounded shadow'>
	<h5 class="font-weight-bolder text-info"><%= categoria.humanize %></h5>
	<% if categoria == 'cineminuto' %>
			<%= video_tag f.object.original_filename.url, controls: true, class: "img-responsive img-fluid mb-3 w-50" unless f.object.new_record? %>
	<% else %>
		<%= image_tag f.object.original_filename.url,  class: "img-responsive img-fluid mb-3 w-50" unless f.object.new_record? %>
	<% end %>
	<%= f.file_field :original_filename, accept: categoria == 'cineminuto' ? 'video/mp4': 'image/png,image/jpeg' %>
	<%= f.hidden_field :categoria_id, :value => (f.object.new_record? ? categoria_id : f.object.categoria_id ) %>
	<div id="media_metadatos" class="row">
		<% f.object.build_media_metadato if f.object.new_record? %>
		<%= f.simple_fields_for :media_metadato do |media_metadato_form| %>
			<%= render "mosaico_natura/registro/form_media_metadato", f: media_metadato_form %>
		<% end %>
		<div class="col-12 mt-4 links">
			<%= link_to_remove_association "<i class='fa fa-trash'></i> Eliminar foto".html_safe, f, class: 'btn btn-sm btn-danger btn-block' %>
		</div>
	</div>
</div>
