<div class="accordion border-0 col-10 mb-4" id="acordeon-categorias">
	<% @dibujos.each do |categorias, dibujos| %>
		<div class="border-0 rounded p-0 mt-3 bg-gradient-dark" id="heading-<%= categorias.to_s %>">
			<button class="btn btn-outline-info btn-block py-3 text-center" type="button" data-toggle="collapse" data-target="#collapse-<%= categorias.to_s %>" aria-expanded="true" aria-controls="collapse-<%= categorias.to_s %>">
				<%= categorias.to_s.humanize %> <i class="fa fa-sort pull-right"></i>
			</button>
		</div>
		
		<div id="collapse-<%= categorias.to_s %>" class="collapse shadow bg-gradient-dark" aria-labelledby="heading-<%= categorias.to_s %>" data-parent="#acordeon-categorias">
			<div class="d-flex flex-row shadow-sm p-3 text-center font-weight-bolder">
				<div class="w-25">ID</div>
				<div class="flex-fill">Primeros trazos / Dibujo finalizado</div>
				<div class="w-25">¿Pasa a finalista?</div>
			</div>
			<% dibujos.each do |d| %>
				<div class="d-flex flex-row">
					<div class="w-25 text-center p-5 shadow-sm">
						<small><%= d.id %></small>
					</div>
					<div class="flex-fill p-3 shadow-sm">
						<button class="btn btn-outline-info btn-block dibujos_popover" type="button" data-toggle="modal" title="<%= d.id %> - Dibujo en proceso" data-content="<img class='img-fluid' src='<%= "/media/ayv/#{d.id}/#{d.proceso}" %>'>" data-foto="<%= "/media/ayv/#{d.id}/#{d.proceso}" %>" data-target="#modalConcurso">Dibujo en proceso</button>
						
						<button class="btn btn-outline-success btn-block dibujos_popover" type="button" data-toggle="modal" title="<%= d.id %> - Dibujo terminado" data-content="<img class='img-fluid' src='<%= "/media/ayv/#{d.id}/#{d.terminado}" %>'>" data-foto="<%= "/media/ayv/#{d.id}/#{d.terminado}" %>" data-target="#modalConcurso">Dibujo terminado</button>
					</div>
					<div class="w-25 p-5 shadow-sm custom-control custom-switch text-center">
						<input type="checkbox" class="custom-control-input" name="calificacion-<%= d.id %>" id="customSwitchId-<%= d.id %>" <%= "checked='checked'" unless d.es_finalista.nil? %>>
						<label class="custom-control-label" role="button" for="customSwitchId-<%= d.id %>"></label>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>