<% @dibujos.each do |categorias, dibujos| %>
	<div class="col-4 table-responsive">
		<table class="table table-dark table-striped table-bordered table-hover table-sm">
			<thead>
			<tr>
				<th colspan="3">
					<%= categorias.to_s.humanize %>
				</th>
			</tr>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Primeros trazos</th>
				<th scope="col">Dibujo finalizado</th>
				<th scope="col">¿Pasa a finalista?</th>
			</tr>
			
			</thead>
			<tbody>
			<% dibujos.each do |d| %>
				<tr>
					<th scope="row"><small><%= d.id %></small></th>
					<td>
						<button class="btn btn-outline-success dibujos_popover" type="button" data-toggle="modal" title="<%= d.id %> - Dibujo en proceso" data-content="<img class='img-fluid' src='<%= "/media/ayv/#{d.id}/#{d.proceso}" %>'>" data-foto="<%= "/media/ayv/#{d.id}/#{d.proceso}" %>" data-target="#modalConcurso">Proceso</button>
					</td>
					<td>
						<button class="btn btn-outline-success dibujos_popover" type="button" data-toggle="modal" title="<%= d.id %> - Dibujo terminado" data-content="<img class='img-fluid' src='<%= "/media/ayv/#{d.id}/#{d.terminado}" %>'>" data-foto="<%= "/media/ayv/#{d.id}/#{d.terminado}" %>" data-target="#modalConcurso">Terminado</button>
					</td>
					<td>
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" disabled id="customSwitch<%= d.id %>">
							<label class="custom-control-label" for="customSwitch1"></label>
						</div>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
<% end %>

