<div id="inscripcion" class="row justify-content-center mt-5 pt-4">
  <%= render partial: "entre_azul_y_verde/shared/sub-header", locals: { title: "MODIFICAR CUENTA" } %>
	
	<div class="col-12 col-xl-8 py-4 text-center">
		
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, label: "Correo" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "Dejar vacío si no se desea cambiar la contraseña",
                    required: false,
                    label: "Contraseña",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    hint: "Dejar vacío si no se desea cambiar la contraseña",
                    required: false,
                    label: "Confrima la contraseña",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Es necesaria tu contraseña actual para confirmar los cambios",
                    required: true,
                    label: "Contraseña actual",
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Actualizar", class: "btn btn-success mb-4" %>
      </div>
    <% end %>

    <hr />

    <p>¿No estás a gusto? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %></p>

	</div>

</div>