<div id="inscripcion" class="bg-dark border-bottom border-light text-light justify-content-center mt-5 pb-5 row">
<%= render partial: "mosaico_natura/shared/sub-header", locals: { title: "Recuperación de contraseña" } %>
	<div class="col-12 col-xl-8 py-4 text-center">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Correo",
                    input_html: { autocomplete: "email" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Enviarme instruciones", class: "btn btn-success mb-4" %>
      </div>
    <% end %>
    <%= render "mosaico_natura/devise/shared/links" %>
	</div>
</div>
