<%= simple_form_for @registro, **@form_params do |f| %>
	<div class="row">
		<div class="col-12 my-2">
			<h3> Datos del concursante</h3>
			<div class="usuario text-left">
				<%= f.input_field :nombre, class: 'form-control my-2', placeholder: 'Nombre'%>
				<%= f.input_field :apellido_paterno, class: 'form-control my-2', placeholder: 'Apellido Paterno' %>
				<%= f.input_field :apellido_materno, class: 'form-control my-2', placeholder: 'Apellido Materno' %>
				<label class="date optional" for="usuario_fecha_nacimiento_1i">Fecha nacimiento</label>
				<%= f.input_field :fecha_nacimiento, as: :date, class: 'form-check-inline my-2' %>
				<%= f.input_field :lugar_nacimiento, class: 'form-control my-2', placeholder: 'Lugar de nacimiento' %>
				<%= f.hidden_field :user_id, value: current_user_ayv.id %>
			</div>
		</div>
		
		<div class="col-12 col-md-6 my-2">
			<h3> Dirección </h3>
			<div class="direccion">
				<%= f.fields_for :direccion do |direccion_form| %>
					<%= render "direcciones/form_direccion", f: direccion_form %>
				<% end %>
			</div>
			<div class="links">
				<%#= link_to_add_association('Añade dirección', f, :direccion, partial: 'direcciones/form_direccion', class: 'btn btn-info btn-sm' )  %>
			</div>
		</div>
		
		<div class="col-12 col-md-6 my-2">
			<h3> Dibujos </h3>
			<div class="medias">
				<%= f.simple_fields_for :medias do |media_form| %>
					<%= render "medias/form_media", f: media_form %>
				<% end %>
			</div>
			<div class="links">
				<%= link_to_add_association('+ foto de dibujo', f, :medias, partial: 'medias/form_media', class: 'btn btn-info btn-sm' )  %>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-md-6 my-2">
		<h3> Propiedades usuario </h3>
		<div class="mediasz">
			<%= f.simple_fields_for :usuario_metadatos do |meta_form| %>
				<%= render "entre_azul_y_verde/registro/form_usuario_metadatos", f: meta_form %>
			<% end %>
		</div>
		
	</div>	

	<%= f.button :submit, @registro.new_record? ? 'Guardar registro' : 'Actualizar registro', class: 'btn btn-success btn-sm mb-4' %>
<% end %>