<%= simple_form_for @registro do |f| %>
	<div class="row">
		<div class="col-12 my-2">
			<h3> Datos del concursante</h3>
			<div class="usuario text-left">
				<%= f.input_field :nombre, class: 'form-control my-2', placeholder: 'Nombre'%>
				<%= f.input_field :apellido_paterno, class: 'form-control my-2', placeholder: 'Apellido Paterno' %>
				<%= f.input_field :apellido_materno, class: 'form-control my-2', placeholder: 'Apellido Materno' %>
				<%= f.input_field :email, as: :email, class: 'form-control my-2', placeholder: 'email' %>
				<label class="date optional" for="usuario_fecha_nacimiento_1i">Fecha nacimiento</label>
				<%= f.input_field :fecha_nacimiento, as: :date, class: 'form-check-inline my-2' %>
				<%= f.input_field :lugar_nacimiento, class: 'form-control my-2', placeholder: 'Lugar de nacimiento' %>
			</div>
		</div>
		
		<div class="col-12 col-md-6 my-2">
			<h3> Dirección </h3>
			<div class="direccion">
				<%= f.fields_for :direccion do |direccion_form| %>
					<%= render "direcciones/form_direccion", f: direccion_form %>
				<% end %>
			</div>
			<div class="links">
				<%#= link_to_add_association('Añade dirección', f, :direccion, partial: 'direcciones/form_direccion', class: 'btn btn-info btn-sm' )  %>
			</div>
		</div>
		
		<div class="col-12 col-md-6 my-2">
			<h3> Dibujos </h3>
			<div class="medias">
				<%= f.simple_fields_for :medias do |media_form| %>
					<%= render "medias/form_media", f: media_form %>
				<% end %>
			</div>
			<div class="links">
				<%= link_to_add_association('+ foto de dibujo', f, :medias, partial: 'medias/form_media', class: 'btn btn-info btn-sm' )  %>
			</div>
		</div>
	</div>
	

	<%#= f.fields_for :categoria do |categoria_form| %>
	<%#= render "categorias/form_categorias", f: categoria_form %>
	<%# end %>
	<%#= f.fields_for :usuario_metadato do |usuario_metadato_form| %>
	<%#= render "usuario_metadatos/form_usuario_metadatos", f: usuario_metadato_form %>
	<%# end %>
	
	
	<%= f.button :submit,'Guardar registro', class: 'btn btn-success btn-sm'  %>
<% end %>