<div class='nested-fields'>
	<%= f.input :calle %>
	<%= f.input :numero %>
	<%= f.input :interior %>
	<%= f.input :colonia %>
	<%= f.input :municipio %>
	<%= f.input :cp %>
	<%= f.input :estado %>
	<%= link_to_remove_association "Quita dirección", f, class: 'btn btn-danger btn-sm' %>
</div>
