<div class='nested-fields'>
	<%= f.input :calle %>
	<%= f.input :numero %>
	<%= f.input :interior %>
	<%= f.input :colonia %>
	<%= f.input :municipio %>
	<%= f.input :cp %>
	<%= f.input :estado %>
	<%= f.input :id_usuario %>
</div>
