<p id="notice" class="bg-success text-white"><%= notice %></p>

<div id="intro" class="row justify-content-center">
	<div class="col-12 col-md-12 col-lg-9 pt-5 my-5">
		<img src="/concursos_assets/mosaico_natura/PortadaWeb6to.jpg" alt="Mosaico Natura" title="Mosaico Natura" class="img-fluid">
	</div>
</div>

<div id="quienesSomos" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/mosaico_natura/bg-quienesSomos.jpg" alt="¿Quiénes somos?" title="¿Quiénes somos?" class="img-fluid">
	</div>
	<%= render :partial => 'quienesSomos' %>
</div>

<div id="concurso" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/mosaico_natura/bg-concurso.jpg" alt="Concurso" title="Concurso" class="img-fluid">
	</div>
	<%= render :partial => 'concurso' %>
</div> 

<div id="exposiciones" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/mosaico_natura/exposiciones.png" alt="Exposiciones del concurso" title="Exposiciones del concurso" class="img-fluid">
	</div>
	<%= render :partial => 'exposiciones' %>
</div>

<div id="ganadores" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/mosaico_natura/ganadores.png" alt="Ganadores del concurso" title="Ganadores del concurso" class="img-fluid">
	</div>
	<%= render :partial => 'ganadores' %>
</div>

<div id="medios" class="row justify-content-center">
	<div class="col-12 text-center sub-header">
		<img src="/concursos_assets/mosaico_natura/medios.png" alt="Información para medios" title="Información para medios" class="img-fluid">
	</div>
	<%= render :partial => 'medios' %>
</div>


<%= render :partial => 'mosaico_natura/shared/modal' %>
