<p id="notice"><%= notice %></p>

<h1>Media Metadatos</h1>

<table>
  <thead>
    <tr>
      <th>Id metadato</th>
      <th>Id media</th>
      <th>Valor metadato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_metadatos.each do |media_metadato| %>
      <tr>
        <td><%= media_metadato.id_metadato %></td>
        <td><%= media_metadato.id_media %></td>
        <td><%= media_metadato.valor_metadato %></td>
        <td><%= link_to 'Show', media_metadato %></td>
        <td><%= link_to 'Edit', edit_media_metadato_path(media_metadato) %></td>
        <td><%= link_to 'Destroy', media_metadato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media Metadato', new_media_metadato_path %>
