<p id="notice"><%= notice %></p>

<p>
  <strong>Id metadato:</strong>
  <%= @media_metadato.id_metadato %>
</p>

<p>
  <strong>Id media:</strong>
  <%= @media_metadato.id_media %>
</p>

<p>
  <strong>Valor metadato:</strong>
  <%= @media_metadato.valor_metadato %>
</p>

<%= link_to 'Edit', edit_media_metadato_path(@media_metadato) %> |
<%= link_to 'Back', media_metadatos_path %>
