<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :usuario_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido_paterno %>
    <%= form.text_field :apellido_paterno, id: :usuario_apellido_paterno %>
  </div>

  <div class="field">
    <%= form.label :apellido_materno %>
    <%= form.text_field :apellido_materno, id: :usuario_apellido_materno %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento_nac %>
    <%= form.date_select :fecha_nacimiento_nac, id: :usuario_fecha_nacimiento_nac %>
  </div>

  <div class="field">
    <%= form.label :lugar_nacimiento %>
    <%= form.text_field :lugar_nacimiento, id: :usuario_lugar_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :curp %>
    <%= form.text_field :curp, id: :usuario_curp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
