<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>P apellido</th>
      <th>M apellido</th>
      <th>Fec nac</th>
      <th>Lugar nac</th>
      <th>Curp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.p_apellido %></td>
        <td><%= usuario.m_apellido %></td>
        <td><%= usuario.fec_nac %></td>
        <td><%= usuario.lugar_nac %></td>
        <td><%= usuario.curp %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
