<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>P apellido:</strong>
  <%= @usuario.p_apellido %>
</p>

<p>
  <strong>M apellido:</strong>
  <%= @usuario.m_apellido %>
</p>

<p>
  <strong>Fec nac:</strong>
  <%= @usuario.fec_nac %>
</p>

<p>
  <strong>Lugar nac:</strong>
  <%= @usuario.lugar_nac %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @usuario.curp %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
