<!DOCTYPE html>
<html>
<head lang="es-MX">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Entre Azul y Verde</title>
	<%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'entre_azul_y_verde/entre_azul_y_verde', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'entre_azul_y_verde/entre_azul_y_verde', 'data-turbolinks-track': 'reload' %>
</head>


<body>
<header class="fixed-top">
	<img src="/assets/entre_azul_y_verde/azul_y_verde.png" alt="Entre Azul y Verde" title="Entre Azul y Verde" class="img-fluid">
	<%= render :partial => 'entre_azul_y_verde/menu_header' %>
</header>
<div class="container-fluid">
	<%= yield %>
</div>
<footer>

</footer>
</body>
</html>